<!-- ============================================================== -->
<!-- Envoltura principal - estilo que puedes encontrar en pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper" class="animated fadeIn">
  <!-- inicio header puede encontrar en app/shared/header -->
  <app-header></app-header>
  <!-- fin de header -->
  <!-- inicio sidebar puede encontrar en app/shared/sidebar -->
  <app-sidebar></app-sidebar>
  <!-- fin de sidebar -->
  <!-- ============================================================== -->
  <!-- Page wrapper  -->
  <!-- ============================================================== -->
  <div class="page-wrapper">

    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
      <app-breadcumbs></app-breadcumbs>
      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <router-outlet></router-outlet>

      <!-- <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
        </div> -->
      <!-- ============================================================== -->
      <!-- End PAge Content -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- final de  Container fluid  -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- final del Page wrapper  -->
  <!-- ============================================================== -->
</div>

<!-- modal upload -->
<app-modal-upload></app-modal-upload>
