<div class="animated fadeIn">
  <div class="row">
    <div class="col-12">
      <div class="card crdmr">
        <div class="card-body">
          <input #input (keyup)="buscarUsuario(input.value)" class="form-control" type="text"
            placeholder="Buscar usuario">
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="cargando" class="row">
    <dir class="col-12">
      <div class="alert alert-warning text-center">
        <strong>Cargando ...</strong>
        <br>
        <i class="fa fa-spinner fa-spin fa-2x"></i>
        <br>
        <span>Espere por favor</span>
      </div>
    </dir>
  </div>

  <div *ngIf="!cargando" class="row">
    <div class="col-12">
      <div class="card">
        <div class="pading-10">
          <h3 class="card-title">Usuario registrados (<small>{{totalR}}</small>)</h3>
          <table class="table table-hover table-bordered table-responsive">
            <thead>
              <tr>
                <th>Imagen</th>
                <th>Correo</th>
                <th>Nombre usuario</th>
                <th>Rol</th>
                <th>Auth</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of usuarios">
                <td class="w55"><img (click)="abrirModal(usuario._id)" class="img50 img-circle pointer" [src]="usuario.img | imagen" [alt]="usuario.img | imagen">
                </td>
                <td>{{usuario.email}}</td>
                <td>{{usuario.nombres}} {{usuario.apellidos}}</td>
                <td>
                  <select name="role" class="form-control" [(ngModel)]="usuario.role">
                    <option value="ADMIN_ROL">ADMIN_ROL</option>
                    <option value="USER_ROL">USER_ROL</option>
                  </select>
                </td>
                <td>
                  <label *ngIf="usuario.google" class="label label-danger">Google</label>
                  <label *ngIf="!usuario.google" class="label label-info">Normal</label>
                </td>
                <td class="w140">
                  <button (click)="guardarUsuRol(usuario)" class="btn btn-success mr-1"><i class="fa fa-save"></i></button>
                  <button (click)="borrarUsuario(usuario)" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-around">
            <button (click)="cambiarDesde(-5)" class="btn btn-secondary"> Anteriores</button>
            <button (click)="cambiarDesde(5)" class="btn btn-secondary"> Siguientes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
