<div class="animated fadeIn">
  <div class="row">
    <div class="col-12">
      <div class="card crdmr">
        <div class="card-body">
          <input class="form-control" type="text" placeholder="Buscar usuario">
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="cargando" class="row">
    <dir class="col-12">
      <div class="alert alert-warning text-center">
        <strong>Cargando ...</strong>
        <br>
        <i class="fa fa-spinner fa-spin fa-2x"></i>
        <br>
        <span>Espere por favor</span>
      </div>
    </dir>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Usuario registrados (<small>{{totalR}}</small>)</h3>
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th>Imagen</th>
                <th>Correo</th>
                <th>Nombre usuario</th>
                <th>Rol</th>
                <th>Auth</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of usuarios">
                <td></td>
                <td>{{usuario.email}}</td>
                <td>{{usuario.nombres}} {{usuario.apellidos}}</td>
                <td>{{usuario.role}}</td>
                <td>
                  <label class="label label-danger">Google</label>
                  <label class="label label-info">Normal</label>
                </td>
                <td>
                  <button class="btn btn-success mr-1"><i class="fa fa-save"></i></button>
                  <button class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-around">
            <button class="btn btn-secondary"> Anteriores</button>
            <button class="btn btn-secondary"> Siguientes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
