<div class="animated fadeIn">
  <div class="row">
    <div class="col-12">
      <div class="card crdmr">
        <div class="card-body">
          <input #input (keyup)="buscarHospitales(input.value)" class="form-control" type="text" placeholder="Buscar hospital">
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="cargando" class="row">
    <dir class="col-12">
      <div class="alert alert-warning text-center">
        <strong>Cargando ...</strong>
        <br>
        <i class="fa fa-spinner fa-spin fa-2x"></i>
        <br>
        <span>Espere por favor</span>
      </div>
    </dir>
  </div>

  <div *ngIf="!cargando" class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="col-12">
            <div class="text-right">
              <button (click)="sweetAlert()" class="btn btn-rounded btn-themecolor"><i class="fa fa-plus"></i> Crear hospital</button>
            </div>
            <h3 class="card-title">Hospitales registrados (<small>{{totalR}}</small>)</h3>
          </div>
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th>Imagen</th>
                <th>Hospital</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let hospital of hospitales">
                <td class="w70"><img (click)="abrirModal(hospital._id)" class="img50 img-circle pointer" [src]="hospital.img | imagen:'hospitales'" [alt]="hospital.nombre"></td>
                <td><input type="text" [(ngModel)]="hospital.nombre" class="form-control text-center"></td>
                <td class="w200">
                  <button (click)="actualizarHospital(hospital)" class="btn btn-success mr-1"><i class="fa fa-save"></i></button>
                  <button (click)="borrarHospital(hospital)" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-around">
            <button (click)="cambiarDesde(-5)" class="btn btn-secondary"> Anteriores</button>
            <button (click)="cambiarDesde(5)" class="btn btn-secondary"> Siguientes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
